// compress: true
@import "vars";

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: @black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:   #31344e url(../images/4.jpg) center no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
@import "../css/blocks/container";
@import "../css/blocks/columns.less";
@import "../css/blocks/profile.less";
@import "../css/blocks/section.less";
@import "../css/blocks/sectionLeft.less";
@import "../css/blocks/sectionRight.less";
@import "../css/blocks/skills.less";






