// main: ../style.less

.nav {
    display: flex;
    height: 100%;
}

.nav__link {
    font-size: 1.4rem;
    color: @black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    margin-left: 3rem;
    position: relative;
   
    

    &:after {
        content: "";
        width: 0;
        height: 2px;
        background-color: @orange;

        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 1;

        transition: width
        .2s linear;
    }
    
    &:hover {
        &:after {
            width: 100%;
        }
    }
}